body 
{
  backgorund: #f5f5f5
}
 h1 {
  text-align: center
 }
 footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: red;
  text-align: center;

 }
 #link {
  text-align: center;
  display: flex;
  justify-content: space-around;

 }

 #home-h1 {
  font-size: 100px;
  color: purple;
  
 }
  .abt {
    font-size: 80px;
    color: brown;
    font-family: sans-serif;

  }

.cnt
{
  color: pink;
  font-family: sans-serif;
  font-size: 100px;
  
}